{% if results %}
    <table border="1">
        <tr>
            <td>Usernames</td>
            <td>Passwords</td>
        </tr>
        {% for user in results %}
        <tr>
            <td>{{ user.1 }}</td>
            <td>{{ user.2 }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<br>
<form method="POST">
    {% csrf_token %}
    <input name="username" placeholder="Username to delete">
    <button type="submit">Delete</button>
    {% for message in messages%}
        <p>{{message}}</p>
    {% endfor %}
</form>
  