<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 90vh;">
    <h2>Login</h2>
    <form method="POST" style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
        {% csrf_token %}
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit">Login Existing User</button>
        {% if messages %}
            {% for message in messages%}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </form>
</div>
    
<form method="POST" action="/register/">
    {% csrf_token %}
    <button type="submit">Register Page</button>
  </form>
